@media(max-width:800px){
    .propeperties-property{
        width: 100% !important;;
    }
    .properties-container {
        width: 100% !important;
    }

    .properties-info {
        width: 100% !important;
    }
}


/*Color Palette */
:root{
    --secondary: #E8BC15;
    --bg-light: #f8f9fa;
}
/* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&family=Rubik:ital,wght@1,500&display=swap');
/* Materials */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position:fixed;
    top: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 100;
}

.main-content{
    width: 100vw;
    margin-top: 20vh;
    margin-bottom: 10vh;
    height: auto;
}

.searchBar{
display: flex;
flex-wrap: wrap;
width: 100%;
align-items: center;
margin-top: -5vh;
height: 10vh;
background-color: rgba(0,0,0,0.50);
}


footer{
    position:fixed;
    margin-top: 12vh;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(0,0,0,0.50);
    color: var(--secondary);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Home */

.hero-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000;
}

.carousel-caption{
    background-color: rgba(0,0,0,0.50);
    margin: 0;
    color:#f4f4f4;
    border-radius: 1%;
}

.main-home{
    width: 100vw;
    height: auto;
}

.home-section{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.home-section h2{
    text-align: center;
}

.home-subtitle{
    display: flex;
    width: 100%;
    background-color:var(--bg-light);
    color: var(--secondary);
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.lastDivs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.bizType{
    color: var(--secondary);
    border-radius: 10px;
    font-size: .7rem;
    background-color: #000;
    text-align: center;
}

.card-button{
    margin: auto;
    text-align: center;
}
/* end Home */

.container-heading h2,h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary);
}

.button{
    background-color: #000;
    color: var(--secondary);
}

.button:hover{
    background-color: var(--secondary);
    color:  #000;
}

.button-cancel{
    background-color: var(--secondary);
    color:  #000;
}

.button-cancel:hover{
    background-color: #000;
    color: var(--secondary);
}

.btn-danger:hover{
    background-color: #000 !important;
    color: #e81515 !important;
}

.row-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #E8BC15 1px solid;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.col-fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
}

.col-values{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-span{
    font-size: .7rem;
}

.auth-span{
    color: var(--secondary);
    border: none;
}

.auth a{
    color: #000;
    text-decoration: none;
    font-size: .7rem;
}

.auth a:hover{
    color:var(--secondary);
    text-decoration: none;
    font-size: .7rem;
}

.contact span:hover{
    color:#000 !important;
}

.yellow-font{
    color: var(--secondary);
}


/* Inmobiliaria */

.form-container{
    display: flex;
    margin-bottom: 5px;
    width: 100vw;
    height: auto;
    background-color: var(--bg-light);
    justify-content: center;
}

.form-controls{
    display: flex;
    margin-top: 3px;
    gap: 2px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.show-title{
    display: flex;
    width: 100%;
    background-color: #000;
    color: var(--secondary);
    justify-content: center;
}

.show-body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content:center;
    align-items: center;
    background-color: var(--bg-light);

}

.show-image{
    background-color: var(--bg-light);
}

.show-data{
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: max-content;
}

.data-title{
    font-weight:bold;
    text-align: center;
    border-bottom: #E8BC15 1px solid;
}
.data-item{
    border-bottom: #E8BC15 1px solid;
}

.show-contactos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25vw;
    height: 50vh;
    margin-left: 3vh;
}

.contacto-title{
    font-weight: bold;
}

.contacto-data{
    width: 15vw;
    text-align: start;
}

.properties{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    margin-top:3vh;
}

.properties-image{
    display: flex;
    align-items: start;
    justify-content: center;
}

.properties-container{
    display: flex;
    width: 70%;
    align-items: start;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.properties-main{
    display: flex;
    flex-wrap: wrap;
}

.properties-info{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
    justify-content: start;
    width: 25vw;
}

.properties-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.propeperties-property{
    display: grid;
    width: 60%;
}

.property-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly;
    gap: 2px;
    width: 100%;
    height: auto;
    background-color: #000;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.properties-mesures{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.properties-mesures-values{
    display: flex;
    width: 80%;
}

.property-value{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.property-value li{
    list-style: none;
}

.property-field{
    font-size: .7rem;
    color: var(--secondary);
}


